body {
  background-image: url("https://images.unsplash.com/photo-1445905595283-21f8ae8a33d2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60");
  background-repeat: repeat;
  background-size: cover;
  background-color: black;
  color: black;
}

#app {
  background-color: black;
  text-align: center;
}

#zodiac-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: white;
}

#home-div {
  text-align: center;
  min-height: 70rem;
}

#form {
  margin-bottom: 10px;
}

#horoscope {
  font-size: 18px;
  text-align: center;
  color: white;
}
